<section class="about-predio">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="section-titles">
            <h5 class="upper-title">ALL ABOUT</h5>
            <h2 class="main-title">PREDIO</h2>
            <p class="title-intro">Don’t be an architecture of building, be the <span>architecture</span> of life.</p>
          </div>
          <!-- end section-titles -->
          <p class="lead">Denim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non <u>cupidatat skateboard</u> dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
          <img src="../assets/images/signature.png" alt="Image" class="signature"> </div>
        <!-- end col-6 -->
        
        <div class="col-md-5 col-sm-8 col-xs-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">PREDIO HISTORY</a> </h4>
              </div>
              <!-- end panel-heading -->
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body"> <img src="../assets/images/image7.jpg" alt="Image" class="thumb-image">
                  <h6>Skateboard dolor brunch</h6>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua</p>
                </div>
                <!-- end panel-body --> 
              </div>
              <!-- end panel-collapse --> 
            </div>
            <!-- end panel panel-default -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">COMPANY POLICY</a> </h4>
              </div>
              <!-- end panel-heading -->
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body"> <img src="../assets/images/image8.jpg" alt="Image" class="thumb-image">
                  <h6>Skateboard dolor brunch</h6>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put </p>
                </div>
                <!-- end panel-body --> 
              </div>
              <!-- end panel-collapse --> 
            </div>
            <!-- end panel-default -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">WORKSPACES </a> </h4>
              </div>
              <!-- end panel-heading -->
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body"> <img src="../assets/images/image9.jpg" alt="Image" class="thumb-image">
                  <h6>Skateboard dolor brunch</h6>
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put </p>
                </div>
                <!-- end panel-body --> 
              </div>
              <!-- end panel-collapse --> 
            </div>
            <!-- end panel-default --> 
          </div>
          <!-- end panel-group --> 
        </div>
        <!-- end col-7 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
   </section>
   <!-- end about-predio -->
   <section class="video">
    <div class="video-container" data-stellar-ratio="0.3">
      <video src="../assets/videos/video1.mp4" autoplay loop muted></video>
    </div>
    <!-- end video-container -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h5>MORTGAGE PRESENTATION</h5>
          <h2>VIDEO</h2>
          <p>Startups love us because we didn't make Predio for rich guys. Its yours and you pay just once</p>
          <a href="../assets/videos/video1.mp4" class="fancybox fancybox.iframe"><i class="glyph-icon flaticon-play-button"></i></a> </div>
        <!-- end col-12 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
   </section>