<!--section class="fun-facts" id="equipo">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <h2>EQUIPO</h2>
              <h4>La gente que está detrás de la constructora.</h4>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="features-box">
              <figure><img src="./assets/images/ingoscar.jpg" alt="Image"></figure>
              <h3>Oscar Luis Chávez</h3>
              <u><h5>Director General</h5></u>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="features-box">
              <figure><img src="./assets/images/cpliz.jpg" alt="Image"></figure>
              <h3>Elizabeth Chávez</h3>
              <h5>Contador Público / Administración</h5>
            </div>
          </div>
      </div>
  </div>
</section-->

<section class="about-etrade" id="company">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="section-titles">
          <!--h2 class="main-title">EMPRESA</h2>
          <h5 class="upper-title">Perfil Empresarial</h5>
          <br-->
          <img class="about-img" src="./assets/images/logo-etrade-original.png" alt="Image">
          <br><br>
          <!--h4 class="main-title">EuroTrade SA de CV</h4-->
          <p class="title-intro">Construyendo un mejor <span>México</span>.</p>
        </div>
        <!-- end section-titles -->
        <p class="lead" style="text-align: justify;">Lograr un crecimiento sostenido y ser reconocida como empresa competitiva que cumple sus compromisos y garantiza la calidad de sus obras al tiempo que apoya el mejoramiento de la calidad de vida de los mexicanos.</p>
        <p class="lead" style="text-align: justify;">Nuestro objeto es la realización de proyectos y construcción de todo tipo de obra civil y electromecánica para los sectores público y privado.</p>
        <a href="./assets/res//EUROTRADE_CV.pdf" class="download-btn">CURRICULUM VITAE DE LA EMPRESA</a>
        <a href="./assets/res/EUROTRADE_CV_TECNICO.pdf" class="download-btn">CURRICULUM VITAE TÉCNICO</a>
      </div>
      <div class="col-md-5 col-sm-8 col-xs-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">MISIÓN</a> </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body"> <img src="./assets/images/27.jpg" alt="Image" class="thumb-image">
                <!--h6>Misión</h6-->
                <p style="text-align: justify;"><strong>EuroTrade SA de CV</strong> es una empresa mexicana dedicada a la construcción de obra e infraestructura civil, comprometida con la satisfacción total de nuestros clientes mediante la observación y aplicación de sistemas de prevención y control de riesgos de trabajo para protección integral de trabajadores, instalaciones y medio ambiente, logrando con ello una mejor organización y productividad.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">VISIÓN</a> </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body"> <img src="./assets/images/44.JPG" alt="Image" class="thumb-image">
                <!--h6>Visión</h6-->
                <p style="text-align: justify;">Lograr el crecimiento sostenido y ser reconocida como empresa comprometida con el cumplimiento de sus obras mediante la modernización de sus procesos constructivos para cumplir con el mejoramiento de su personal y de su comunidad. </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">POLÍTICA DE CALIDAD </a> </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body"> <img src="./assets/images/57.jpg" alt="Image" class="thumb-image">
                <!--h6>Política de Calidad</h6-->
                <p style="text-align: justify;">Nuestro compromiso es lograr la ejecución de obras de calidad que cumplan plenamente con los requisitos estipulados en las normas NMX-CC-9001 (ISO 9001) y otros estándares similares vigentes en materia de seguridad y salud en el trabajo, calidad y cuidado ambiental.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
  </div>
</section>

<!--section class="video">
  <div class="video-container" data-stellar-ratio="0.3">
    <video src="../assets/videos/video1.mp4" autoplay loop muted></video>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h5>MORTGAGE PRESENTATION</h5>
        <h2>VIDEO</h2>
        <p>Startups love us because we didn't make Predio for rich guys. Its yours and you pay just once</p>
        <a href="../assets/videos/video1.mp4" class="fancybox fancybox.iframe"><i class="glyph-icon flaticon-play-button"></i></a> </div>
    </div>
  </div>
</section-->