<header class="header">
 <app-navbar></app-navbar>
<!-- end navbar-default -->
<div class="predio-slider">
    <div class="item">
        <img src="./assets/images/31.jpg" alt="Image">
        <div class="hero-content">
            <div class="container">
                <br>
                <h2 class="text1">Maquinaria pesada</h2>
                <h2 class="text2">Para excavaciones.</h2>
                <a class="slide-btn" (click)="scroll('rent')">RENTA HOY</a>
            </div>
            <!-- end container -->
        </div>
        <!-- end slide-content -->
    </div>
    <!-- end item -->
    <div class="item">
        <img src="./assets/images/24.jpg" alt="Image">
        <div class="hero-content">
            <div class="container">
                <h2 class="text1">Profesionales en obra</h2>
                <h2 class="text2">civil e hidráulica.</h2>
                <a class="slide-btn" (click)="scroll('solutions')">CONOCE MÁS</a>
            </div>
            <!-- end container -->
        </div>
        <!-- end slide-content -->
    </div>
    <!-- end item -->
    <div class="item">
        <img src="./assets/images/24.jpg" alt="Image">
        <div class="hero-content">
            <div class="container">
                <h2 class="text1">Comprometidos con</h2>
                <h2 class="text2">la ejecución y calidad.</h2>
                <a class="slide-btn" (click)="scroll('solutions')">CONOCE MÁS</a>
            </div>
            <!-- end container -->
        </div>
        <!-- end slide-content -->
    </div>
    <!-- end item -->
</div>
<!-- end predio-slider -->
</header>

<section class="home-services" data-stellar-background-ratio=".5">
  <div class="container">
      <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="section-titles">
                  <!--h5 class="upper-title">MOS POPULAR</h5-->
                  <h2 class="main-title">SERVICIOS</h2>
                  <!--p class="title-intro">Image on the left is owned by Bang and <span>Olufsen</span> and is released under creative commons lisence.</p-->
              </div>
              <!-- end section-titles -->
          </div>
          <!-- end col-4 -->
          <div class="col-md-7 col-sm-12 col-xs-12">
              <div class="row inner">
                  <div class="col-md-4 col-sm-4 col-xs-6">
                      <div class="services-box"> <i class="glyph-icon flaticon-concrete-mixer"></i>
                          <h5>RENTA DE MAQUINARIA</h5>
                          <p>Pesada y ligera. Para todo tipo de obra.</p>
                      </div>
                      <!-- end services-box -->
                  </div>
                  <!-- end col-4 -->
                  <div class="col-md-4 col-sm-4 col-xs-6"> <i class="glyph-icon flaticon-trowel"></i>
                      <h5>CONSTRUCCIÓN</h5>
                      <p>Edificación. Levantamientos. Reparación</p>
                  </div>
                  <!-- end col-4 -->
                  <div class="col-md-4 col-sm-4 col-xs-6"> <i class="glyph-icon flaticon-driller"></i>
                      <h5>OBRA CIVIL E HIDRÁULICA</h5>
                      <p>Desasolves. Movimiento de Tierras. Ollas de Agua.</p>
                  </div>
                  <!-- end col-4 -->
              </div>
              <!-- end row inner -->
          </div>
          <!-- end col-7 -->
      </div>
      <!-- end row -->
  </div>
  <!-- end container -->
</section>