<section class="footer-bar">
  <div class="container">
    <div class="content-bar">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"> <i class="glyph-icon flaticon-clock"></i>
          <h4>HORARIO</h4>
          <span>Lunes - Viernes : 9:00 - 17:30<br></span> </div>
        <div class="col-md-4 col-sm-4 col-xs-12"> <a href="https://goo.gl/maps/FPFGgkwQj452" target="_blank"><i class="glyph-icon flaticon-placeholder"></i></a>
          <h4>OFICINA</h4>
          <span>Manuel Pérez Coronado 161-B, Las Camelinas INFONAVIT. 58290. Morelia, México</span> </div>
        <div class="col-md-4 col-sm-4 col-xs-12"> <i class="glyph-icon flaticon-envelope"></i>
          <h4>CONTACTÁNOS</h4>
          <span><a href="tel:+524433400392">Tel : +52 (443) 3400392</a><br>
          <a href="mailto:hoscua@hotmail.com">hoscua@hotmail.com</a></span> </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="footer-inner-bar">
      <!--div class="row">
        <div class="col-md-6 col-sm-5 col-xs-12">
          <h5>FOLLOW US</h5>
          <ul class="social-media">
            <li><a href="#"><i class="glyph-icon flaticon-facebook-logo"></i></a></li>
            <li><a href="#"><i class="glyph-icon flaticon-twitter-logo-silhouette"></i></a></li>
            <li><a href="#"><i class="glyph-icon flaticon-linkedin-logo"></i></a></li>
            <li><a href="#"><i class="glyph-icon flaticon-youtube"></i></a></li>
            <li><a href="#"><i class="glyph-icon flaticon-google-plus"></i></a></li>
          </ul>

        </div>
        <div class="col-md-6 col-sm-7 col-xs-12">
          <h5>NEWSLETTER</h5>
          <form>
            <input type="text" placeholder="Please type your e-mail">
            <button type="submit">JOIN</button>
          </form>
        </div>
      </div-->
   </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <!--h3 class="footer-title">EURO TRADE SA DE CV</h3-->
        <img src="./assets/images/logo-light.png" alt="Image" class="footer-logo">
        <p class="footer-text">Somos una empresa mexicana dedicada a la infraestructura civil e hidráulica, comprometida a satisfacer las necesidades de nuestros clientes a través de la calidad y oportunidad  en la ejecución de las obras.</p>
      </div>

      <div class="col-md-6 col-sm-6 col-xs12">
        <h3 class="footer-title">SERVICIOS</h3>
        <ul class="footer-menu">
          <li><a href="#solutions">OBRA CIVIL</a></li>
          <li><a href="#solutions">RENTA DE MAQUINARIA</a></li>
          <li><a href="#solutions">MOVIMIENTO DE TIERRAS</a></li>
          <li><a href="#solutions">DRENAJES</a></li>
          <li><a href="#solutions">OLLAS DE AGUA</a></li>
          <li><a href="#solutions">JAGUEYES</a></li>
        </ul>
      </div>

      <!--div class="col-md-4 col-sm-12 col-xs-12">
        <h3 class="footer-title">PHOTO GALLERY</h3>
        <ul class="footer-gallery">
          <li><a href="images/project1.jpg" class="fancybox"><img src="images/project1.jpg" alt="Image"></a></li>
          <li><a href="images/project2.jpg" class="fancybox"><img src="images/project2.jpg" alt="Image"></a></li>
          <li><a href="images/project3.jpg" class="fancybox"><img src="images/project3.jpg" alt="Image"></a></li>
          <li><a href="images/project4.jpg" class="fancybox"><img src="images/project4.jpg" alt="Image"></a></li>
          <li><a href="images/project5.jpg" class="fancybox"><img src="images/project5.jpg" alt="Image"></a></li>
          <li><a href="images/project6.jpg" class="fancybox"><img src="images/project6.jpg" alt="Image"></a></li>
          <li><a href="images/project7.jpg" class="fancybox"><img src="images/project7.jpg" alt="Image"></a></li>
          <li><a href="images/project8.jpg" class="fancybox"><img src="images/project8.jpg" alt="Image"></a></li>
        </ul>
      </div-->

    </div>

    <div class="sub-footer">
      <div class="row">
        <div class="col-md-6 col-sm-7 col-xs-12 text-left">Euro Trade SA de CV © 2017 </div>

        <div class="col-md-6 col-sm-5 col-xs-12 text-right"> Sitio por <a mailto="oscar@vr3.io">oschvr</a> &nbsp;<a href="http:/twitter.com/oschvr"><i class="glyph-icon flaticon-twitter-logo-silhouette"></i></a> &nbsp; <a href="https://www.linkedin.com/in/oscarchavezromero/"><i class="glyph-icon flaticon-linkedin-logo"></i></a></div>

      </div>

    </div>

  </div>

</footer>
