<nav class="navbar navbar-default">
  <div class="topbar">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-3 col-xs-12">
                  <!--ul class="social-media">
                      <li><a href="#"><i class="glyph-icon flaticon-facebook-logo"></i></a></li>
                      <li><a href="#"><i class="glyph-icon flaticon-twitter-logo-silhouette"></i></a></li>
                      <li><a href="#"><i class="glyph-icon flaticon-linkedin-logo"></i></a></li>
                      <li><a href="#"><i class="glyph-icon flaticon-youtube"></i></a></li>
                      <li><a href="#"><i class="glyph-icon flaticon-google-plus"></i></a></li>
                  </ul-->
              </div>
              <!-- end col-4 -->
              <div class="col-md-8 col-sm-9 hidden-xs">
                  <ul class="company-infos">
                      <li><i class="glyph-icon flaticon-phone-receiver"></i><span>OFICINA +52 (443) 3400392</span></li>
                      <li class="hidden-xs"><i class="glyph-icon flaticon-clock"></i><span>HORARIO DE TRABAJO - LUN-VIE / 09:00 - 17:30</span></li>
                  </ul>
              </div>
              <!-- end col-8 -->
          </div>
          <!-- end row -->
      </div>
      <!-- end container -->
  </div>
  <!-- end topbar -->
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle toggle-menu menu-right push-body" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span></span> </button>
          <a class="navbar-brand" href="index.html"><img src="../assets/images/logo-colored.png" alt="Image"></a>
      </div>
      <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="bs-example-navbar-collapse-1">
          <div class="mobile-overlay"></div>
          <!-- end mobile-overlay -->
          <div class="logo-text hidden-sm">Líderes en Infraestructura
              <br> Civil e Hidráulica</div>
          <ul class="nav navbar-nav navbar-right">
              <!--li> <a href="#">INICIO</a> </li-->
              <li><a href="#" class="btn btn-success btn-xs">RENTA</a></li>
              <li> <a href="#">EMPRESA</a>
                  <ul class="sub-menu">
                      <li><a href="about-us.html">ACERCA DE NOSOTROS</a>
                          <ul class="second-sub-menu">
                              <li><a href="our-history.html">HISTORIA</a></li>
                              <li><a href="our-vision.html">MISIÓN Y VISIÓN</a></li>
                          </ul>
                      </li>
                      <li><a href="certificates.html">CERTIFICADOS</a></li>
                      <li><a href="#">EQUIPO</a></li>
                  </ul>
              </li>
              <li> <a href="#">SERVICIOS</a>
                  <ul class="sub-menu with-image">
                      <li><a href="services-interior-design.html">OBRA CIVIL</a></li>
                      <li><a href="services-architecture.html">RENTA DE MAQUINARIA</a></li>
                      <li><a href="services-general-contracting.html">MOVIMIENTO DE TIERRAS</a></li>
                      <li><a href="services-house-renovation.html">DRENAJES</a></li>
                      <li><a href="services-laminate-flooring.html">OLLAS DE AGUA</a></li>
                      <li><a href="services-laminate-flooring.html">JAGUEYES</a></li>
                  </ul>
              </li>
              <li><a href="projects.html">PROYECTOS</a></li>
              <li><a href="contact.html">CONTACTO</a></li>

          </ul>
      </div>
      <!-- end navbar-collapse -->
  </div>
  <!-- end container -->
</nav>