<!-- end video -->
<section class="projects" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-titles">
            <h5 class="upper-title">AMAZING STRUCTURES</h5>
            <h2 class="main-title">GALLERY</h2>
            <p class="title-intro">Construction <span>premium</span> lifespace & workspaces</p>
          </div>
          <!-- end section-titles --> 
        </div>
        <!-- end col-12 -->
        <div class="col-xs-12">
          <ul class="filter">
            <li><a href="javascript:void(0);" data-filter="*" class="active">ALL</a></li>
            <li><a href="javascript:void(0);" data-filter=".apt">APARTMENTS</a></li>
            <li><a href="javascript:void(0);" data-filter=".res">RESIDENCES</a></li>
            <li><a href="javascript:void(0);" data-filter=".vil">VILLAGES</a></li>
          </ul>
        </div>
        <!-- end col-12 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container -->
    <ul class="photos">
      <li class="apt">
        <figure><img src="../assets/images/project1.jpg" alt="Image">
          <figcaption> <a href="../assets/images/project1.jpg" class="fancybox">
            <h4>HAPPINESS</h4>
            <small>RIO DE JANEIRO - BRASIL</small></a> </figcaption>
        </figure>
      </li>
      <li class="res">
        <figure><img src="../assets/images/project2.jpg" alt="Image">
          <figcaption> <a href="../assets/images/project2.jpg" class="fancybox">
            <h4>VALENTINE</h4>
            <small>PARIS - FRANCE</small> </a> </figcaption>
        </figure>
      </li>
      <li class="vil">
        <figure><img src="../assets/images/project3.jpg" alt="Image">
          <figcaption> <a href="../assets/images/project3.jpg" class="fancybox">
            <h4>ELEGANT</h4>
            <small>ZURICH - SWITZERLAND</small> </a> </figcaption>
        </figure>
      </li>
      <li class="res">
        <figure><img src="../assets/images/project4.jpg" alt="Image">
          <figcaption> <a href="../assets/images/project4.jpg" class="fancybox">
            <h4>PREMIUM</h4>
            <small>ISTANBUL - TURKEY</small> </a> </figcaption>
        </figure>
      </li>
      <li class="vil">
        <figure><img src="../assets/images/project5.jpg" alt="Image">
          <figcaption> <a href="../assets/images/project5.jpg" class="fancybox">
            <h4>NATURELIST</h4>
            <small>LISBON - PORTUGAL</small> </a> </figcaption>
        </figure>
      </li>
      <li class="apt">
        <figure><img src="../assets/images/project6.jpg" alt="Image">
          <figcaption> <a href="../assets/images/project6.jpg" class="fancybox">
            <h4>ROMANCE</h4>
            <small>VENICE - ITALY</small> </a> </figcaption>
        </figure>
      </li>
      <li class="vil">
        <figure><img src="../assets/images/project7.jpg" alt="Image">
          <figcaption> <a href="../assets/images/project7.jpg" class="fancybox">
            <h4>MODERNIZE</h4>
            <small>OSLO - NORWAY</small> </a> </figcaption>
        </figure>
      </li>
      <li class="res">
        <figure><img src="../assets/images/project8.jpg" alt="Image">
          <figcaption> <a href="../assets/images/project8.jpg" class="fancybox">
            <h4>METROPOLE</h4>
            <small>BERLIN - GERMANY</small> </a> </figcaption>
        </figure>
      </li>
      <li class="res">
        <figure><img src="../assets/images/project9.jpg" alt="Image">
          <figcaption> <a href="../assets/images/project9.jpg" class="fancybox">
            <h4>LOVINSTEN</h4>
            <small>AMSTERDAM - HOLLAND</small> </a> </figcaption>
        </figure>
      </li>
    </ul>
   </section>
   <!-- end gallery -->
   <section class="clients">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-titles">
            <h5 class="upper-title">OUR SATISFIED</h5>
            <h2 class="main-title">CLIENTS</h2>
            <p class="title-intro">Happy to introduce our <span>amazing</span> project partners</p>
          </div>
          <!-- end section-titles --> 
        </div>
        <!-- end col-12 -->
        <div class="col-xs-12">
          <div class="owl-carousel">
            <div class="item"><img src="../assets/images/logo1.png" alt="Image"></div>
            <div class="item"><img src="../assets/images/logo2.png" alt="Image"></div>
            <div class="item"><img src="../assets/images/logo3.png" alt="Image"></div>
            <div class="item"><img src="../assets/images/logo4.png" alt="Image"></div>
            <div class="item"><img src="../assets/images/logo5.png" alt="Image"></div>
            <div class="item"><img src="../assets/images/logo6.png" alt="Image"></div>
            <div class="item"><img src="../assets/images/logo4.png" alt="Image"></div>
            <div class="item"><img src="../assets/images/logo5.png" alt="Image"></div>
            <div class="item"><img src="../assets/images/logo6.png" alt="Image"></div>
          </div>
          <!-- end owl-carousel --> 
        </div>
        <!-- end col-12 -->
        <div class="col-xs-12">
          <div class="testimonials">
            <div class="owl-slider">
              <div class="item testimonial-box">
                <figure><img src="../assets/images/headshot1.jpg" alt="Image"></figure>
                <h4>JACK MC'CARTY</h4>
                <small>Yorkshire & North East</small>
                <p>Building Information Modelling (BIM) technologies and our own in-house pre-construction and Wates Building Services capability to deliver exceptional buildings, every time.</p>
                <img src="../assets/images/signature.png" alt="Image" class="signature"> </div>
              <!-- end item -->
              <div class="item testimonial-box">
                <figure><img src="../assets/images/headshot2.jpg" alt="Image"></figure>
                <h4>NICHOLAS DANIELS</h4>
                <small>Envato Ltd</small>
                <p>Building Information Modelling (BIM) technologies and our own in-house pre-construction and Wates Building Services capability to deliver exceptional buildings, every time.</p>
                <img src="../assets/images/signature.png" alt="Image" class="signature"> </div>
              <!-- end item -->
              <div class="item testimonial-box">
                <figure><img src="../assets/images/headshot3.jpg" alt="Image"></figure>
                <h4>MARTIN WHITE</h4>
                <small>Jersey Stocks</small>
                <p>Building Information Modelling (BIM) technologies and our own in-house pre-construction and Wates Building Services capability to deliver exceptional buildings, every time.</p>
                <img src="../assets/images/signature.png" alt="Image" class="signature"> </div>
              <!-- end item -->
              <div class="item testimonial-box">
                <figure><img src="../assets/images/headshot4.jpg" alt="Image"></figure>
                <h4>GREGORY HOUSE</h4>
                <small>Easthearn Hospital</small>
                <p>Building Information Modelling (BIM) technologies and our own in-house pre-construction and Wates Building Services capability to deliver exceptional buildings, every time.</p>
                <img src="../assets/images/signature.png" alt="Image" class="signature"> </div>
              <!-- end item --> 
            </div>
            <!-- end owl-slider --> 
          </div>
          <!-- end testimonials --> 
        </div>
        <!-- end col-12 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
   </section>