<section class="solutions" data-stellar-background-ratio="0.5" id="solutions">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-titles">
                    <!--h5 class="upper-title">MOST POPULAR</h5-->
                    <h2 class="main-title">SOLUCIONES</h2>
                    <p class="title-intro">Comprometidos con satisfacer las necesidades de nuestros clientes</p>
                </div>
                <br>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Obra Civil y Electromecánica</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-box">
                    <figure><img src="./assets/images/edificacion.jpg" alt="Image"></figure>
                    <small>Obra Civil</small>
                    <h5>EDIFICACIÓN</h5>
                    <!--p>Para todo tipo de obra. <strong>Euro Trade</strong> es líder en renta para llevar a cabo trabajos de construcción e infraestructura.</p>
                    <!--a href="#">LEER MÁS</a-->
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-box">
                    <figure><img src="./assets/images/13.jpg" alt="Image"></figure>
                    <small>Obra Civil</small>
                    <h5>MANTENIMIENTO Y CONSERVACIÓN</h5>
                    <!--p>Aqui va una descripción de la maquinaria ligera y lo que EuroTrade puede ofrecer.</p>
                    <!--a href="#">LEER MÁS</a--> 
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-box">
                    <figure><img src="./assets/images/18.jpg" alt="Image"></figure>
                    <small>Obra Electromecánica</small>
                    <h5>SUBESTACIONES ELÉCTRICAS Y LINEAS DE TRANSMISIÓN</h5>
    
                    <!--p>Utilizando maquinaria pesada, nuestros operadores altamente capacitados pueden mover más de 25m2 al día.</p-->
                    <!--a href="#">LEER MÁS</a--> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Obra Hidráulica</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-box">
                    <figure><img src="./assets/images/31.jpg" alt="Image"></figure>
                    <small>Obra Hidráulica</small>
                    <h5>DESASOLVE DE RIOS</h5>
                    <!--p>Para solventar el flujo de aguas grises y negras. Expertos en desasolves.</p-->
                    <!--a href="#">LEER MÁS</a--> </div>
            <!-- end features-box -->
            </div>
            <!-- end col-4 -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-box">
                    <figure><img src="./assets/images/35.JPG" alt="Image"></figure>
                    <small>Obra Hidráulica</small>
                    <h5>CONSTRUCCIÓN DE BORDOS Y OLLAS DE AGUA</h5>
                    <!--p>Utilizamos técnicas modenras de construcción. Para almacenamiento de potables y captación de aguas pluviales para uso doméstico.</p-->
                    <!--a href="#">LEER MÁS</a--> </div>
                <!-- end features-box -->
            </div>
            <!-- end col-4 -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-box">
                    <figure><img src="./assets/images/alcantarillado.jpg " alt="Image"></figure>
                    <small>Obra Hidráulica</small>
                    <h5>AGUA POTABLE Y ALCANTARILLADO SANITARIO</h5>
                    <!--p>En cumplimiento de todas las normas de CFE, EuroTrade ha realizado obra electromecánica como instalación de subestaciones.</p-->
                    <!--a href="#">LEER MÁS</a--> </div>
                <!-- end features-box -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3>Renta de Maquiniaria</h3>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="features-box">
                    <figure><img src="./assets/images/36.JPG" alt="Image"></figure>
                    <small>Renta</small>
                    <h5>MAQUINARIA PESADA</h5>
                    <!--p>Para solventar el flujo de aguas grises y negras. Expertos en desasolves.</p-->
                    <!--a href="#">LEER MÁS</a--> </div>
                <!-- end features-box -->
                </div>
            <!-- end col-4 -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="features-box">
                    <figure><img src="./assets/images/14.jpg" alt="Image"></figure>
                    <small>Renta</small>
                    <h5>MAQUINARIA LIGERA</h5>
                    <!--p>Utilizamos técnicas modenras de construcción. Para almacenamiento de potables y captación de aguas pluviales para uso doméstico.</p-->
                    <!--a href="#">LEER MÁS</a--> </div>
                <!-- end features-box -->
            </div>
        </div>
        <!-- end row -->
        <hr>
    </div>
</section>