<section class="solutions" data-stellar-background-ratio="0.5" id="solutions">
 <div class="container">
     <div class="row">
         <div class="col-xs-12">
             <div class="section-titles">
                 <!--h5 class="upper-title">MOST POPULAR</h5-->
                 <h2 class="main-title">SERVICIOS</h2>
                 <p class="title-intro">Comprometidos con satisfacer las necesidades de nuestros clientes</p>
             </div>
         </div>

         <div class="col-md-4 col-sm-4 col-xs-12">
             <div class="features-box">
                 <figure><img src="./assets/images/17.jpg" alt="Image"></figure>
                 <small>Renta</small>
                 <h5>RENTA DE MAQUINARIA PESADA</h5>
                 <strong>WIP</strong>
                 <p>Para todo tipo de obra. <strong>Euro Trade</strong> es líder en renta para llevar a cabo trabajos de construcción e infraestructura.</p>
                 <!--a href="#">LEER MÁS</a-->
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-12">
             <div class="features-box">
                 <figure><img src="./assets/images/14.jpg" alt="Image"></figure>
                 <small>Renta</small>
                 <h5>RENTA DE MAQUINARIA LIGERA</h5>
                 <strong>WIP</strong>
                 <p>Aqui va una descripción de la maquinaria ligera y lo que EuroTrade puede ofrecer.</p>
                 <!--a href="#">LEER MÁS</a--> </div>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-12">
             <div class="features-box">
                 <figure><img src="./assets/images/7.JPG" alt="Image"></figure>
                 <small>Obra</small>
                 <h5>MOVIMIENTO DE TIERRAS</h5>
                 <strong>WIP</strong>
                 <p>Utilizando maquinaria pesada, nuestros operadores altamente capacitados pueden mover más de 25m2 al día.</p>
                 <!--a href="#">LEER MÁS</a--> </div>
         </div>
     </div>
     <div class="row">
       <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="features-box">
            <figure><img src="./assets/images/32.jpg" alt="Image"></figure>
            <small>Obra</small>
            <h5>CONSTRUCCIÓN DE DRENAJES</h5>
            <strong>WIP</strong>
            <p>Para solventar el flujo de aguas grises y negras. Expertos en desasolves.</p>
            <!--a href="#">LEER MÁS</a--> </div>
        <!-- end features-box -->
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="features-box">
                <figure><img src="./assets/images/34.JPG" alt="Image"></figure>
                <small>Obra</small>
                <h5>OLLAS DE AGUA | JAGUEYES</h5>
                <strong>WIP</strong>
                <p>Utilizamos técnicas modenras de construcción. Para almacenamiento de potables y captación de aguas pluviales para uso doméstico.</p>
                <!--a href="#">LEER MÁS</a--> </div>
            <!-- end features-box -->
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="features-box">
                <figure><img src="./assets/images/18.jpg " alt="Image"></figure>
                <small>Obra</small>
                <h5>INSTALACIÓN ELECTROMECÁNICA</h5>
                <strong>WIP</strong>
                <p>En cumplimiento de todas las normas de CFE, EuroTrade ha realizado obra electromecánica como instalación de subestaciones.</p>
                <!--a href="#">LEER MÁS</a--> </div>
            <!-- end features-box -->
        </div>
     </div>
     <!-- end row -->
 </div>
 <!-- end container -->
</section>
<!-- end solutions -->