<section class="fun-facts" id="counter">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <h5>Algúnos números de la empresa.</h5>
              <h2>DATOS</h2>
              <!--h4>Algunos números de la constructora.</h4-->
          </div>
          <!-- end col-12 -->
          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="fact-box">
                  <div class="row">
                      <div class="col-md-3 col-sm-12 col-xs-3"> <i class="glyph-icon flaticon-right-arrow"></i> </div>
                      <!-- end col-3 -->
                      <div class="col-md-5 col-sm-12 col-xs-5">
                          <h6>PROYECTOS<br>
                          EJECUTADOS</h6>
                      </div>
                      <!-- end col-5 -->
                      <div class="col-md-4 col-sm-12 col-xs-4"> <span class="odometer" id="1">0000</span>
                          <!--span class="symbol">+</span-->
                      </div>
                      <!-- end col-4 -->
                  </div>
                  <!-- end row inner -->
              </div>
              <!-- end fact-box -->
          </div>
          <!-- end col-4 -->
          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="fact-box">
                  <div class="row">
                      <div class="col-md-3 col-sm-12 col-xs-3"> <i class="glyph-icon flaticon-clock"></i> </div>
                      <!-- end col-3 -->
                      <div class="col-md-5 col-sm-12 col-xs-5">
                          <h6>AÑOS<br>
                          LABORANDO</h6>
                      </div>
                      <!-- end col-5 -->
                      <div class="col-md-4 col-sm-12 col-xs-4"> <span class="odometer" id="2">0000</span><span class="symbol">+</span> </div>
                      <!-- end col-4 -->
                  </div>
                  <!-- end row inner -->
              </div>
              <!-- end fact-box -->
          </div>
          <!-- end col-4 -->
          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="fact-box">
                  <div class="row">
                      <div class="col-md-3 col-sm-12 col-xs-3"> <i class="glyph-icon flaticon-skyline"></i></div>
                      <!-- end col-3 -->
                      <div class="col-md-5 col-sm-12 col-xs-5">
                          <h6>PERSONAL<br>
                          INDIRECTO</h6>
                      </div>
                      <!-- end col-5 -->
                      <div class="col-md-4 col-sm-12 col-xs-4"> <span class="odometer" id="3">0000</span><span class="symbol">+</span> </div>
                      <!-- end col-4 -->
                  </div>
                  <!-- end row inner -->
              </div>
              <!-- end fact-box -->
          </div>
          <!-- end col-4 -->
      </div>
      <!-- end row -->
  </div>
  <!-- end container -->
</section>