<section class="rent" id="rent">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-titles">
          <!--h5 class="upper-title">MOST POPULAR</h5-->
          <h2 class="main-title">RENTA</h2>
          <p class="title-intro">Cotiza hoy la renta de maquinaria pesada y/o ligera</p>
        </div>
        <br>  
        <h4>Maquinaria Pesada</h4>
        <div>                  
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-3" *ngFor="let machine of machinery; let i = index">
              <a class="thumbnail" (click)="changeMachine(i)">
                <img class="rent-img" src="{{machine.img}}" alt="{{machine.name}}">

                <p style="padding-left: 20px;">{{machine.name}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12" *ngIf="activeQuote" id="print-section">
        <div class="row">
          <div class="col-xs-3 col-sm-4">
            <img src="{{currentMachine.img}}" alt="{{currentMachine.name}}">
          </div>
          <div class="col-xs-8">
            <h3>{{currentMachine.name}}</h3>
            <p>{{currentMachine.description}}</p>
            <hr>
            <form>
              <div class="form-group">
                <label for="hours">Horas Estimadas*</label>

                <input [(ngModel)]="estHours" name="estHours" class="form-control" type="text" id="remove-print">
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" [(ngModel)]="operator" name="operator" checked> Operador
                </label>
              </div>
            
              <div class="form-group">
                <label for="import">Horas Estimadas</label>
                <h4 class="pull-right">{{estHours}}</h4>
              </div>
              
              <div class="form-group">
                <label for="import">Precio Unitario / h</label>
                <h4 class="pull-right" disabled *ngIf="!operator">{{currentMachine.unitPrice | currency:'MXN':true:'2.2-2'}}</h4>
                <h4 class="pull-right" disabled *ngIf="operator">{{currentMachine.unitPriceOperator | currency:'MXN':true:'2.2-2'}}</h4>
              </div>
              
              <div class="form-group">
                <label for="import">Importe</label>
                <h4 class="pull-right" *ngIf="estHours && operator">{{(currentMachine.unitPrice * estHours) | currency:'MXN':true:'2.2-2'}}</h4>
                <h4 class="pull-right" *ngIf="estHours && !operator">{{(currentMachine.unitPrice * estHours) | currency:'MXN':true:'2.2-2'}}</h4>
              </div>
              
              <div class="form-group">
                <label for="import">Impuestos (IVA)</label>
                <h4 class="pull-right" *ngIf="estHours && operator" >{{tax * (currentMachine.unitPriceOperator * estHours) | currency:'MXN':true:'2.2-2'}}</h4>
                <h4 class="pull-right" *ngIf="estHours && !operator" >{{tax * (currentMachine.unitPrice * estHours) | currency:'MXN':true:'2.2-2'}}</h4>
              </div>
              
              <div class="form-group">
                <label for="import">Total</label>
                <small>(No incluye flete)</small>
                <h3 class="pull-right" *ngIf="estHours && !operator">{{(currentMachine.unitPrice * estHours) + (tax * (currentMachine.unitPrice * estHours)) | currency:'MXN':true:'2.2-2'}}</h3>
                <h3 class="pull-right" *ngIf="estHours && operator">{{(currentMachine.unitPriceOperator * estHours) + (tax * (currentMachine.unitPriceOperator * estHours)) | currency:'MXN':true:'2.2-2'}}</h3>
              </div>
              <button class="btn btn-lg btn-primary" id="remove-print" (click)="print()">Imprimir</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr>    
  </div>
</section>